* {
  font-family: 'Europa', sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Europa', sans-serif;
}

.body-grid {
  display: grid;
  grid-template-rows: 1.3fr 4fr 1.3fr;
}

header, footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Traveler Page Backgrounds */

.traveler-page0 {
  background-image: url(../images/mediterranean.jpg);
  background-size: cover;
}

.traveler-page1 {
  background-image: url(../images/azores.jpg);
  background-size: cover;
}

.traveler-page2 {
  background-image: url(../images/iceland.jpg);
  background-size: cover;
}

.traveler-page3 {
  background-image: url(../images/montana.png);
  background-size: cover;
}

.traveler-page4 {
  background-image: url(../images/mtstmichel.jpg);
  background-size: cover;
}

.traveler-page5 {
  background-image: url(../images/namibia.jpg);
  background-size: cover;
}

.traveler-page6 {
  background-image: url(../images/peru.jpg);
  background-size: cover;
}

/* Navigation Bar */

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35%;
  height: 25%;
  border-radius: 15px;
  background-color:rgb(255, 255, 255, 0.85);
}

.nav-separator {
  height: 50%;
  width: 1px;
  background: black;
}

/* Navigation Bar: Buttons */

.nav-btns {
  height: 100%;
  width: 50%;
  background: none;
  border: none;
  color: #363A45;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 700;
  background-color: transparent;
  position: relative;
  z-index: 1;
}

.nav-btns::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0%;
  height: 0%;
  border-radius: 15px;
  background-color: #00F1BD;
  transform: translate(-50%, -50%);
  transition: all 0.4s ease;
  z-index: -1;
}

.nav-btns:hover {
  background-color: transparent;
  color: #363A45;
}

.nav-btns:hover::before {
  width: 100%;
  height: 100%;
}

/* Footer Search Bar */

form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 60%;
}

.input-holder {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 40%;
  min-height: 40%;
  padding: 0 2%;
  background-color: rgb(255, 255, 255, 0.85);
  border-radius: 15px;
  margin: 0 1rem;
}

.submit-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 40%;
  width: 10%;
  border-radius: 15px;
  background-color: rgb(255, 255, 255, 0.85);
  color: #363A45;
  margin: 0 1rem;
}


.trip-input, .login-input {
  border: none;
  text-align: center;
  background: transparent;
  color: black;
  font-size: 0.8rem;
  width: 80%;
  font-weight: 600;
}

#date-picker {
  color: black;
}

.destination-holder {
  width: 20%;
}

.date-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
}

.date-label {
  text-align: left;
  width: 30%;
}

.calendar {
  width: 60%;
  font-weight: 400;
  font-size: 0.8rem;
}

.travelers-holder {
  width: 15%;
}

.search-icon {
  height: 40%;
  aspect-ratio: 1/1;
  margin-right: 0.5rem;
}

.ss-main, .ss-values, .ss-single {
  font-size: 0.8rem;
  text-align: center;
  font-family: 'Europa', sans-serif;
}

.ss-list, .ss-option {
  background-color: white;
  font-size: 0.8rem;
  font-family: 'Europa', sans-serif;
}

/* Booking Confirmation Page */

.booking-main, .login-main {
  grid-row: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.confirm-booking-container, .status-info, .login-container {
  display: grid;
  grid-template-columns: 1.8fr 2fr;
  grid-template-rows: 2fr 1fr;
  width: 70%;
  height: 80%;
  background-color: rgb(255, 255, 255, 0.85);
  border-radius: 25px;
  padding: 2rem;
}

.confirm-booking-info {
  grid-column: 1;
  grid-row: 1;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.confirm-booking-btns-container {
  grid-column: 1;
  grid-row: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
  width: 100%;
  height: 100%;
}

.booking-btn, .login-btn {
  height: 50%;
  width: 48%;
  background: white;
  cursor: pointer;
  border: none;
  font-size: 0.9rem;
  font-weight: 700;
  border-radius: 15px;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}

.confirm-btn, .login-btn {
  box-shadow: inset 0 0 0 0 #00F1BD;
}

.confirm-btn:hover {
  box-shadow: inset 0 100px 0 0 #00F1BD;
}

.cancel-btn {
  box-shadow: inset 0 0 0 0 #F17171;
}

.cancel-btn:hover {
  box-shadow: inset 0 100px 0 0 #F17171;
}

.confirm-booking-details-box, .slide-details-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 40px;
  background: rgb(255, 255, 255, 0.85);
  border-radius: 15px;
  margin: 0.5rem 0;
  padding: 0 1.5rem;
}

.booking-detail-header {
  font-size: 0.9rem;
  font-weight: 700;
  margin-block-end: 0;
  margin-block-start: 0;
}

.booking-detail-text {
  position: absolute;
  font-size: 0.9rem;
  left: 25%;
}

.confirm-booking-img-container {
  grid-column: 2;
  grid-row: 1 / span 2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 2.5rem;
}

.confirm-booking-img-bounding-box {
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  width: 80%;
  aspect-ratio: 1/1;
}

.confirm-booking-img {
  max-width: 150%;
  max-height: 100%;
}

.booking-confirmation-title, .slide-title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-block-end: 0.5rem;
}

.booking-confirmation-title-subtext {
  margin-block-start: 0.1rem;
}

.status-info {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 40%;
}

.status-title {
  font-family: 'Hobo Std', sans-serif;
  font-size: 3rem;
  font-weight: 700;
  margin-block-end: 0.1rem;
  display: block;
}

.status-subtext {
  font-family: 'Hobo Std', sans-serif;
  font-size: 1.5rem;
  color: #363A45;
  display: block;
  text-align: center;
}

/* My Trips Page */

.main-carousel {
  position: absolute;
  top: 10%;
  left: 0;
  width: 100%;
  height: 70%;
}

.carousel-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20%;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.glide-wrap {
  height: 600px;
  margin: 0 auto;
  width: 90%;
}

.glide__slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  border: 1px solid black;
  border-radius: 25px;
  margin: 0 1rem;
  background-color: rgb(255, 255, 255, 0.85);
  margin: 0;
  text-align: center;
  max-height: 100%;
  min-width: 0;
}

.slide-text-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 40%;
}

.slide-details-box {
  height: 40px;
}

.slide-title {
  margin-block-start: 0.2rem;
  font-size: 1.3rem;
}

.slide-header {
  font-size: 1.1rem;
  font-weight: 700;
}

.summary-header {
  text-align: center;
  height: 25px;
}

.trips-heading-box {
  background: rgb(84, 84, 84);
  color: white;
  justify-content: center;
  height: 32px;
}

.slide-text {
  margin-left: 1rem;
}

.glide__arrow--right, .glide__arrow--left {
  background-color: rgb(0, 0, 0, 0.8);
  color: white;
  border: none;
  font-weight: 700;
}

.glide__arrow--right:hover, .glide__arrow--left:hover {
  background-color: white;
  color: black;
}

.glide__arrow--left {
  transform: translateX(-80px);
}

.glide__arrow--right {
  transform: translateX(80px);
}

.slide-img-container {
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  width: 100%;
  height: 200px;
}

.slide-img {
  max-width: 150%;
  max-height: 130%;
}

.Upcoming {
  background-color: #00F1BD;
}

.Past {
  background-color: #b9faed;
}

.Pending {
  background-color: #F1C400;
}

/* Login Page */

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40%;
  width: 40%;
}

.login-info-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: 40%;
}

.login-form {
  flex-direction: column;
  width: 50%;
}

.login-header {
  font-family: 'Droid', sans-serif;
  width: 70%;
  font-size: 1.8rem;
  margin-block-start: 0.2rem;
  margin-block-end: 0.3rem;
  text-align: center;
  font-weight: 800;
}

.login-btn {
  width: 100%;
  height: auto;
  margin-top: 0.3rem;
  padding: 0.2rem 0;
}

.login-input {
  background: white;
  width: 100%;
  padding: 0.3rem 0;
  border-radius: 15px;
  margin: 0.3rem 0;
}

.login-btn:hover {
  box-shadow: inset 400px 0 0 0 #00F1BD;
}

/* Login Error Messages */

.login-error-header {
  font-size: 1.5rem;
  font-weight: 700;
  margin-block-start: 0.2rem;
  margin-block-end: 0.1rem;
  text-align: center;
}

.login-error {
  font-size: 1rem;
  font-weight: 500;
  margin-block-start: 0.75rem;
  margin-block-end: 0.1rem;
  text-align: center;
}

/* Login Success Message */

.login-success-backer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(255,255,255, 0.1);
  backdrop-filter: blur(8px);
}

.login-success-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20%;
  width: 35%;
}

.toucan-icon-wrapper {
  height: 200%;
  width: 30%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.toucan-icon {
  height: 100%;
  width: 100%;
}

.login-success-header {
  font-family: 'Droid', sans-serif;
  font-size: 3.5rem;
  font-weight: 700;
  margin-block-start: 0.2rem;
  margin-block-end: 0.1rem;
  text-align: center;
}

.welcome-message {
  font-size: 1.5rem;
  font-weight: 500;
  color:black;
}

.welcome-container {
  justify-content: center;
}

.welcome-backer {
  background: rgb(255,255,255,0.3);
}


.welcome-message {
  font-size: 1.5rem;
  font-weight: 500;
  color: black;
  animation: fadeInOut 5s ease-in-out;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}