html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Gilroy', sans-serif;
}

body {
  display: grid;
  grid-template-rows: 1.3fr 4fr 1.3fr;
}
/* 
main, header, footer {
  border: 1px solid black;
} */

header, footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Traveler Page Backgrounds */

.traveler-page1 {
  background-image: url(../images/mediterranean.jpg);
  background-size: cover;
}

.traveler-page2 {
  background-image: url(../images/azores.jpg);
  background-size: cover;
}

.traveler-page3 {
  background-image: url(../images/iceland.jpg);
  background-size: cover;
}

.traveler-page4 {
  background-image: url(../images/montana.png);
  background-size: cover;
}

.traveler-page5 {
  background-image: url(../images/mtstmichel.jpg);
  background-size: cover;
}

.traveler-page6 {
  background-image: url(../images/namibia.jpg);
  background-size: cover;
}

.traveler-page7 {
  background-image: url(../images/peru.jpg);
  background-size: cover;
}

/* Navigation Bar */

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35%;
  height: 25%;
  border-radius: 15px;
  background-color: white; /* added white background */
}

.nav-separator {
  height: 50%;
  width: 1px;
  background: black;
}

/* Navigation Bar: Buttons */

.nav-btns {
  height: 100%;
  width: 50%;
  background: none;
  border: none;
  color: #363A45;
  font-size: 0.9rem;
  font-weight: 700;
  background-color: transparent;
  position: relative;
  z-index: 1; /* added z-index */
}

.nav-btns::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0%;
  height: 0%;
  border-radius: 15px;
  background-color: #00F1BD;
  transform: translate(-50%, -50%);
  transition: all 0.4s ease;
  z-index: -1;
}

.nav-btns:hover {
  background-color: transparent;
  color: #363A45;
}

.nav-btns:hover::before {
  width: 100%;
  height: 100%;
}

/* Footer Search Bar */

form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 60%;
}

.input-holder {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 40%;
  min-height: 40%;
  padding: 0 2%;
  background-color: #FDF6EE;
  border-radius: 15px;
  margin: 0 1rem;
}

.submit-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40%;
  width: 10%;
  border-radius: 15px;
  background-color: #FDF6EE;
  color: #363A45;
  margin: 0 1rem;
}


.trip-input {
  border: none;
  text-align: center;
  background: transparent;
  color: black;
  font-size: 0.8rem;
  width: 80%;
  font-weight: 600;
}

#date-picker {
  color: black;
}

.destination-holder {
  width: 20%;
}

.date-holder {
  width: 15%;
}

.travelers-holder {
  width: 15%;
}

.search-icon {
  height: 40%;
  aspect-ratio: 1/1;
  margin-right: 0.5rem;
}

.ss-main, .ss-values, .ss-single {
  font-size: 0.8rem;
  text-align: center;
  font-family: 'Europa', sans-serif;
}

.ss-list, .ss-option {
  background-color: white;
  font-size: 0.8rem;
  font-family: 'Europa', sans-serif;
}